.background {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.deletePost {
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #FAE9CB;
  animation: showDiv 0.15s;
}

.deletePost p {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
  color: #B84F4F;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.deletePost button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: #FAE9CB;
  background-color: #B84F4F;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.deletePost button:nth-child(2) {
  background-color: #444B4D;
  margin-left: 25px;
}

.deletePost button:hover {
  cursor: pointer;
  background-color: #FF8587;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.deletePost button:active {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.deletePost button:nth-child(2):hover {
  background-color: #727a7c;
}

@keyframes showDiv {
  0% {
    transform: translate(-50%, 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}