.background {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: showDiv 0.15s;
}

.updatePostForm {
  border-radius: 10px;
  width: 50%;
  padding: 25px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #FAE9CB;
}

.updatePostForm p {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 15px;
  color: #B84F4F;
}

.updatePostForm textarea {
  font-size: 16px;
  width: 80%;
  padding: 15px;
  resize: none;
  border: none;
  border-radius: 5px;
  outline: none;
  overflow: hidden;
  margin-bottom: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.updatePostForm textarea::placeholder {
  font-size: 16px;
  color: #FF8587;
}

.updatePostForm textarea:nth-child(2) {
  min-height: 1.5em;
  max-height: 2em;
}

.updatePostForm textarea:nth-child(3) {
  min-height: 3.5em;
}

.updatePostForm button {
  padding: 10px 20px;
  margin-right: 25px;
  border: none;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: #FAE9CB;
  background-color: #B84F4F;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.updatePostForm button:nth-child(2) {
  background-color: #444B4D;
}

.updatePostForm button:hover {
  cursor: pointer;
  background-color: #FF8587;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.updatePostForm button:active {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.updatePostForm button:nth-child(2):hover {
  background-color: #727a7c;
}

@keyframes showDiv {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}