.footer {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #FAE9CB;
  background-color: #444B4D;
  font-size: 16px;
  font-weight: 500;
}

.footer div {
  margin-right: 50px;
}

.footer img {
  width: 35px;
  height: 35px;
  margin-right: 15px;
}

.footer div a {
  color: #FAE9CB;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.footer div a:hover {
  cursor: pointer;
  color: #FF8587;
}