.post {
  padding: 10px 20px 25px 20px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.postTitle {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #B84F4F;
}

.postTitle div {
  width: 100%;
}

.postTitle img {
  border-radius: 50%;
  padding: 3px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  margin-right: 10px;
  background-color: #FAE9CB;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.postTitle img:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.postTitle img:active {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.postTitle a {
  color: #B84F4F;
  text-decoration: none;
}

.postTitle a:hover {
  color: #FF8587;
}