.addPost {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 80px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: #B84F4F;
  border-radius: 50%;
}

.addPost:hover {
  cursor: pointer;
  background-color: #FF8587;
}